{% include 'management/header.html' %}
<body>
    {% include 'management/sidebar.html' %}    
	<div class="content">
		<div class="container-fluid">    									
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="content">
							<div class="row">
								<div class="col-5 col-md-4">
									<div class="icon-big icon-danger text-center">
										<i class="ti-id-badge"></i>
									</div>
								</div>
								<div class="col-xs-7">
									<div class="numbers">
										<p class="card-category">Students</p>										
									</div>
								</div>
							</div>
							<a href="{{ url_for('student') }}">
								<div class="footer">
								<hr />
								<div class="stats">
									<p><i class="ti-view-list"></i> View</p>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>				
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="content">
							<div class="row">
								<div class="col-xs-5">
									<div class="icon-big icon-info text-center">
										<i class="ti-view-list-alt"></i>
									</div>
								</div>
								<div class="col-xs-7">
									<div class="numbers">
										<p class="card-category">Classes</p>										
									</div>
								</div>
							</div>
							<a href="{{ url_for('classes') }}">
								<div class="footer">
								<hr />
								<div class="stats">
									<p><i class="ti-view-list"></i> View</p>
								</div>
							</div>
						</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card card-stats">
						<div class="content">
							<div class="row">
								<div class="col-xs-5">
									<div class="icon-big icon-warning text-center">
										<i class="ti-agenda"></i>
									</div>
								</div>
								<div class="col-xs-7">
									<div class="numbers">
										<p class="card-category">Subjects</p>									   
									</div>
								</div>
							</div>
							<a href="{{ url_for('subject') }}">
								<div class="footer">
									<hr />
									<div class="stats">
										<p><i class="ti-view-list"></i> View</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="card">
						<div class="content">
							<div class="row">
								<div class="col-xs-5">
									<div class="icon-big icon-success text-center">
										<i class="ti-check-box"></i>
									</div>
								</div>
								<div class="col-xs-7">
									<div class="numbers">
										<p class="card-category">Result</p>										
									</div>
								</div>
							</div>
							<a href="{{ url_for('result') }}">
								<div class="footer">
									<hr />
									<div class="stats">
										<p><i class="ti-view-list"></i> View</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>				
			</div>		
		</div>	
	</div>
</body>
</html>