{% include 'management/header.html' %}
<script src="{{ url_for('static',filename='js/subject.js') }}"></script>
<body>
  <div class="">        
      {% include 'management/sidebar.html' %}    
	  <div class="content">
		<div class="container-fluid">   	
			<div class="row">				 
				<hr>		
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-10">
							<h3 class="panel-title"></h3>
						</div>
						<div class="col-md-2" align="right">
							<button type="button" name="add" id="addSubject" class="btn btn-danger btn-md"><i class="ti-plus"></i> Add New</button>
						</div>
					</div>
				</div>
				<table id="subjectList" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Subject Name</th>							
							<th>Action</th>							
						</tr>
					</thead>
					<tbody>
						{% for subject in subjects %}
					  	<tr>
							<td>{{subject.id}}</td>
							<td>{{subject.subject_name}}</td>							
							<td>
								<a href="{{url_for('edit_subject', subject_id=subject.id)}}" class="btn btn-primary update">Edit</a>
								<a href="{{url_for('delete_subject', subject_id=subject.id)}}" class="btn btn-danger">Delete</a>
							</td>
					  	</tr> 
						{% endfor %}	  
					</tbody>
				</table>						
				</div>	
			</div>
		</div>	
	</div>
  <div id="subjectModal" class="modal fade">
	<div class="modal-dialog">
		<form method="post" id="subjectForm" action="{{ url_for('save_subject')}}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title"><i class="fa fa-plus"></i> Edit Subject</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="subject_name" class="control-label">Subject Name*</label>
						<input type="text" class="form-control" id="subject_name" name="subject_name" placeholder="Subject Name" required>					
					</div>
				</div>
				<div class="modal-footer">
					<input type="hidden" name="subjectid" id="subjectid" />
					<input type="hidden" name="action" id="action" value="updateSubject" />
					<input type="submit" name="save" id="save" class="btn btn-info" value="Save" />
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</form>
	</div>
</div>
</body>
</html>