{% extends "public/layout.html" %}
{% block content %}
  <div class="container" style="margin-top: 90px"> 
      <caption><h3 align="left">Student Enrollment Records</h3></caption>
            <form action="{{ url_for('record', student_id=student.id)}}" Method="POST">  					
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Academic Year</th>
                    <th>Level and Section</th> 
                    <th>Semester</th>
                    <th>Options</th> 
                  </tr>	
                </thead>
                <tbody>
                  {% for result in student.results %}
                    <tr>
                        <td>{{ student.academic_year }}</td>
                        <td>{{ student.class_rel.level }}</td>
                        <td>{{ result.semester }}</td>
                        <td><a href="{{ url_for('view_result', student_id=student.id, semester=result.semester) }}">View Result</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
                  
              </table>
        
            </form>
      </div>
  
  
{% endblock %}


